<p id="notice"><%= notice %></p>

<h1>List Songs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<tbody>
<%@songs.each do |song|%>
  <tr><%= link_to(song.title, edit_song_path(song)) %></tr>
<%end%>
</tbody>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_song_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>