
<% @songs.each do |song| %>
  <p>
    <%= song.id %>
    <%= song.title %>
    <%= song.released %>
    <%= song.release_year %>
    <%= song.name %>
    <%= song.name %>
    <%= song.name %>
    <%= song.name %>
    <%= song.name %>
  </p>
<% end %>