
<% @songs.each do |song| %>
  <p>
    <%= song.name %>
    <%= song.name %>
    <%= song.name %>
    <%= song.name %>
    <%= song.name %>
    <%= song.name %>
    <%= song.name %>
    
  </p>
<% end %>